

:root {
    --azul         : #00507D;
    --celeste      : #00C7DC;
    --morado       : #7B0068;
    --verde        : hsl(94, 65%, 47%);
    --bg-azul      : #6ec72a0a;
    --tamanioletras: 16px;
    --bg-celeste   : #00c6dc25;
}

body {
    font-family: 'Righteous', cursive;
    margin     : 0;
    padding    : 0;
}

.titulo-principal {
    margin-top : 2vh;
    font-size  : 80px;
    font-weight: 600;
}

article,
section {
    margin-bottom: 3em !important;
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size  : var(--tamanioletras);
}

.lista {
    font-size: var(--tamanioletras);

}

h2 {
    text-align: center;
    font-family: 'Righteous', cursive;
}

.text-morado {
    color: var(--morado);
}

.text-azul {
    color: var(--azul);
}

.text-verde {
    color: var(--verde);
}

.text-verde {
    color: var(--verde);
}

.pic-wrapper {
    position: relative;
    width   : 100%;
    height  : 70vh;
    overflow: hidden;
}

figure {
    position : absolute;
    top      : 0;
    left     : 0;
    width    : 100%;
    height   : 100%;
    opacity  : 0;
    /*animation*/
    animation: slideShow 24s linear infinite 0s;
}

.pic-1 {
    opacity        : 1;
    background     : url('https://2021.igem.org/wiki/images/3/3f/T--Bolivia--BannerCollaborations.png') no-repeat center center;
    background-size: cover;
}

.pic-2 {
    animation-delay: 6s;
    background     : url('https://2021.igem.org/wiki/images/3/3f/T--Bolivia--BannerCollaborations.png') no-repeat center center;
    background-size: cover;
}

.pic-3 {
    animation-delay: 12s;
    background     : url('https://2021.igem.org/wiki/images/3/3f/T--Bolivia--BannerCollaborations.png') no-repeat center center;
    background-size: cover;
}

.pic-4 {
    animation-delay: 18s;
    background     : url('https://2021.igem.org/wiki/images/3/3f/T--Bolivia--BannerCollaborations.png') no-repeat center center;
    background-size: cover;
}


/* keyframes*/

@keyframes slideShow {
    0% {
        opacity  : 0;
        transform: scale(1);
    }

    5% {
        opacity: 1
    }

    25% {
        opacity: 1;
    }

    30% {
        opacity  : 0;
        transform: scale(1.1);
    }

    100% {
        opacity  : 0;
        transform: scale(1);
    }
}

.fondo-banner {
    width           : 100vw;
    height          : 100%;
    background-image: linear-gradient(to right, var(--verde), transparent);
    opacity         : 0.4;
    position        : absolute;
    padding-bottom  : 100px;
}

.text-banner {
    width         : 100vw;
    height        : 100%;
    padding-bottom: 20vh;
    position      : relative;
    display       : flex;
    align-items   : end;
}

.fila-banner {
    padding-left: 10vw;
    z-index     : 10;

}

.logo-arsenito {
    margin-left: 20px;
    width      : 20%;
    position   : absolute;
    /* height  : 100px; */
    right      : 5%;
    bottom     : -20px
}

.title-small {
    color      : var(--celeste);
    font-weight: 600;
}

.team {
    display        : flex;
    align-items    : end;
    justify-content: start;
}


/* Pantalla abajo de los 750 pixeles */

@media(max-width: 767px) {
    .text-banner {
        width          : 100vw;
        height         : 70%;
        display        : flex;
        justify-content: center;
        align-items    : end;
        margin-left    : 0;
        padding-bottom : 0;
    }

    .titulo-principal {
        margin-top : 2vh;
        font-size  : 50px;
        font-weight: 400;
        color      : white;
    }

    .team {
        display        : flex;
        align-items    : end;
        justify-content: center;
    }

    .text-video {
        background-color: var(--azul);
        width           : 100%;
        min-height      : 34vh;
        padding         : 56px;
    }

    .nav-item {
        margin-left: 30px;
        font-size  : 18px;
    }
}

.nav-item {
    margin-left: 80px;
    font-size  : 18px;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: var(--azul) !important;
}

#nav {
    background-color: transparent !important;
}



.my-nav {
    background-image: linear-gradient(to right, var(--celeste), var(--verde));
    opacity         : 0.9;
    transition      : .3s ease-in-out;
}

.hover-nav {
    position: relative;
}

.nav-item:after {
    position  : absolute;
    opacity   : 0;
    width     : 0%;
    height    : 2px;
    content   : '';
    background: #FFF;
    transition: all 0.3s;
    left      : 0px;
    bottom    : 0px;
}

.nav-item:hover:after {
    opacity: 1;
    width  : 100%;
}


/* HASTA AQUI ES EL BANNER Y NAVBAR */

/* MENU LATERAL ICONOs */

.menulateral {

    position       : sticky;
    top            : 150px;
    border-right   : 5px solid;
    border-color   : var(--verde);
    max-height     : 450px;
    display        : flex;
    flex-direction : column;
    width          : 250px;
}


.box-icon {
    width          : 100%;
    display        : flex;
    margin-bottom  : 15px;
    align-items    : center;
    text-decoration: none;
    color          : black;
}

.box-icon:hover {
    color: var(--verde);
}

.diviconMenu {
    border         : 2px solid var(--verde);
    border-style   : dashed;
    border-width   : 1px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-right   : 20px;
    padding        : 10px;
    border-radius  : 50%;
}

.iconMenu {
    width : 40px;
    height: 40px;
    cursor: pointer;

}

.iconSubMenu{
    width : 20px;
    height: 20px;
    cursor: pointer;
}

.text-menu {
    text-transform: uppercase;
    cursor        : pointer;
    font-size: 16px;
    color: black;
    
}
.text-submenu {
    font-size: 14px;
    cursor        : pointer;
   
}

.title {
    font-family: 'Righteous', cursive;
}

/* seleccion de menu  */

.box-icon-select {
    color: var(--verde);
}

.my-carousel {
    width: 70%;
}

.my-carousel2 {
    width: 40%;
}


@media(max-width:990px){
    .menulateral{
        display: none;
    }
    .my-carousel2{
        width: 100%;
    }
}


/* MENU 4 */




/* TEAM */

.bg-azul {
    width           : 100%;
    height          : 200%;
    position        : absolute;
    background-image: linear-gradient(180deg, var(--bg-azul), transparent);
    z-index         : -10;
}

.bg-verde {
    background-image: linear-gradient(270deg, #6ec72a27, transparent);
}

.bg-celeste {
    background-image: linear-gradient(270deg, var(--bg-celeste), transparent);
}

.bg-verde-inv {
    background-image: linear-gradient(90deg, #6ec72a1e, transparent);
}

.bg-celeste-inv {
    background-image: linear-gradient(90deg, #00c6dc25, transparent);
}

.card-bg-verde {
    padding      : 30px;
    font-size    : 18px;
    border-radius: 10px;
    background-color: var(--bg-celeste);
}

.card-bg-azul {
    background-color: #004f7d85;
    padding         : 18px;
    font-size       : 20px
}

.card-bg-celeste {
    
    border-radius: 10px;
    padding-top  : 50px;
    padding      : 30px;
    font-size    : 18px;
    background-color: var(--bg-celeste);

}

.lista {
    margin-top: 60px;
}

.lista-item {
    align-items      : center;
    justify-content  : center;
    /* padding-bottom: 10px; */
    display          : flex;
    margin-top       : 25px;
}


/* ************* BOTON DESCARGA ******************/

a:hover {
    text-decoration: none !important;
}

.dedcription-btn {
    text-decoration : none;
    width           : 100%;
    position        : relative;
    display         : inline-block;
    border-radius   : 30px;
    background-color: #fcfcfc;
    color           : var(--verde);
    text-align      : center;

    padding      : 9px 0;
    transition   : all 0.3s;
    padding-right: 40px;
    margin       : 20px 5px;
    box-shadow   : 0 3px 20px 0 rgba(0, 0, 0, 0.116);
}

.dedcription-btn .btn-icon {
    width        : 92px;
    height       : 45px;
    float        : right;
    position     : absolute;
    border-radius: 30px 30px 30px 0;
    ;
    right     : 0px;
    top       : 0px;
    transition: all 0.3s;
}

.name-descripeion {
    position: relative;
    z-index : 9999;
}

.btn-icon::after {
    content     : "";
    width       : 0;
    height      : 0;
    border-top  : 45px solid #fcfcfc;
    border-right: 40px solid transparent;
    position    : absolute;
    top         : 0px;
    left        : 0px;
}

.dedcription-btn:hover .btn-icon {
    width        : 100%;
    border-radius: 30px;
}

.dedcription-btn:hover .btn-icon::after {
    display: none;
    opacity: 0.1;
}

.btn-icon i {
    position: absolute;
    right   : 25px;
    top     : 15px;
    color   : #fff;
}

.dedcription-btn:hover {
    color: #fff !important;
}

.descarga {
    background-color: var(--celeste) !important;
}

.hover-box {
    display        : flex;
    width          : 100%;
    height         : 100vh;
    justify-content: center;
    align-items    : center;
}

.boton {
    width: 90%;
}



.img {
    border-radius: 10px;
    box-shadow   : 0 3px 20px 0 rgba(0, 0, 0, 0.116);
}

.img:hover {
    border-radius: 10px;
    box-shadow   : 0 3px 20px 0 rgba(0, 0, 0, 0.116);
    transform    : scale(1.02);
}




/* BOTON FLOTANTE */

.wrapper {
    width          : 50px;
    height         : 50px;
    position       : fixed;
    border-radius  : 100%;
    display        : flex;
    justify-content: center;
    margin-top     : 6rem;
    bottom         : 50px;
    right          : 50px;
    z-index        : 100;
}

.wrapper .fab {
    background-color: var(--celeste);
    width           : 50px;
    height          : 50px;
    position        : relative;
    z-index         : 3;
    border-radius   : 100%;
    box-shadow      : 0 2px 4px rgba(0, 0, 0, 0.4);
    display         : flex;
    justify-content : center;
    align-items     : center;
    animation       : fab-animation-reverse 0.4s ease-out forwards;
}

.wrapper .fab::before,
.wrapper .fab::after {
    content      : "";
    display      : block;
    position     : absolute;
    border-radius: 4px;
    background   : #fff;
}

.wrapper .fab::before {
    width : 4px;
    height: 18px;
}

.wrapper .fab::after {
    width : 18px;
    height: 4px;
}

.wrapper .fac {
    width          : 32px;
    height         : 150px;
    border-radius  : 64px;
    position       : absolute;
    background     : #fff;
    z-index        : 2;
    padding        : 0.5rem 0.5rem;
    box-shadow     : 0 2px 4px rgba(0, 0, 0, 0.4);
    opacity        : 0;
    top            : -110px;
    display        : flex;
    flex-direction : column;
    justify-content: space-around;
    align-items    : center;
    transition     : opacity 0.2s ease-in, top 0.2s ease-in, width 0.1s ease-in;

}

.wrapper .fac a {
    color  : var(--icon-color);
    opacity: 0.8;
}

.wrapper .fac a:hover {
    transition: 0.2s;
    opacity   : 1;
    color     : var(--verde);
}

.wrapper input {
    height       : 100%;
    width        : 100%;
    border-radius: 100%;
    cursor       : pointer;
    position     : absolute;
    z-index      : 5;
    opacity      : 0;
}

.wrapper input:checked~.fab {
    animation: fab-animation 0.4s ease-out forwards;
}

.wrapper input:checked~.fac {
    width    : 32px;
    height   : 150px;
    animation: fac-animation 0.4s ease-out forwards 0.1s;
    top      : -180px;
    opacity  : 1;
}

@keyframes fab-animation {
    0% {
        transform: rotate(0) scale(1);
    }

    20% {
        transform: rotate(60deg) scale(0.93);
    }

    55% {
        transform: rotate(35deg) scale(0.97);
    }

    80% {
        transform: rotate(48deg) scale(0.94);
    }

    100% {
        transform: rotate(45deg) scale(0.95);
    }
}

@keyframes fab-animation-reverse {
    0% {
        transform: rotate(45deg) scale(0.95);
    }

    20% {
        transform: rotate(-15deg);
    }

    55% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0) scale(1);
    }
}

@keyframes fac-animation {
    0% {
        transform: scale(1, 1);
    }

    33% {
        transform: scale(0.95, 1.05);
    }

    66% {
        transform: scale(1.05, 0.95);
    }

    100% {
        transform: scale(1, 1);
    }
}

/* end flotante */

.my-slider {
    width: 100%;
}


/* MEDIAS  */
@media(max-width: 990px) {
    .menuLat3 {
        width              : 13%;
        position           : fixed;
        top                : 20%;
        /* background-color: #00507D; */
        border-right       : 5px solid var(--verde);
        display            : flex;
        /* align-items     : center; */
        justify-content    : center;
        padding-top        : 20px;
        height             : 250px;
        left               : 5%;
        opacity            : 0;
    }

    section {
        margin-left  : 0;
        padding-left : 0%;
        padding-right: 0;
    }

    .lista {
        margin-top: 30px;
    }

    .wrapper {
        width          : 50px;
        height         : 50px;
        position       : fixed;
        border-radius  : 100%;
        display        : flex;
        justify-content: center;
        margin-top     : 6rem;
        bottom         : 15px;
        right          : 15px;
    }
}

@media(max-width:425px) {
    .name-descripeion {
        font-size: 12px;
    }
}

.fa-chevron-right,
.fa-chevron-left {
    font-size: 40px;
}